@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* Animation */


@keyframes slideInLeft {
  0%, 50% {
    transform: translateX(-100%);
    opacity: 0;
  }
   100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0%, 50% {
    transform: translateX(100%);
    opacity: 0;
  }
   100% {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


body {
  box-sizing: border-box;
  width: 100%;
}

.cover {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0; 
}


.nav-hero {
  --bg-image: url("https://images.pexels.com/photos/1292998/pexels-photo-1292998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  --bg-image-opacity: .04;
  background-color: #110B1D;
  position: relative;
  isolation: isolate;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--bg-image);
  opacity: var(--bg-image-opacity);
}

.top-footer {
  --bg-image: url("https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80");
  --bg-image-opacity: 0.03;
  z-index: 1;
  background-color: #110B1D;
  position: relative;
  isolation: isolate;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-footer::before {
  width: 100%;
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--bg-image);
  opacity: var(--bg-image-opacity);
}

/* Navbar Section */


nav {
  margin-top: 2%;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

nav label {
  color: white;
  font-weight: bold ;
  font-size: 1em;
}

nav ul {
  display: flex;
  gap: 7px;
  width: auto;
}

a {
  color: white;
  text-decoration: none;
  width: auto;
  height: 50%;
  
}

a:hover {
  color: #746AE9;
}


nav li {
  font-size: 0.8em;
  color: white;
  list-style: none;
  opacity: 0.85;
  transition: transform 0.3s ease-out;
  cursor: pointer;
  display: inline-block;
}

nav li:hover {
  transform: scale(1.1) translateY(-5px);
}


nav button {
  padding: 0.5%;
  height: 100%;
  width: 50px;
  background-color: #746AE9; 
  color: #ffffff;
  font-weight: 900;
  font-size: 80%;
  border-radius: 12px;
  border: none;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

nav button:hover {
  background-color: #ffffff;
  color: #746AE9;
  transform: translateY(-3px)
}



/* Hero Section */



.hero-section {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}


.hero-section h1 {
  width: 100%;
  color: white;
  font-size: 20px;
  margin-bottom: 5%;
  animation: slideInLeft 0.8s linear;
}

.hero-section p {
  width: 100%;
  color: white;
  font-size: 14px;
  text-align: left;
  animation: slideInLeft 0.8s linear;
}

.hero-section div:first-child {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
}

.hero-section div:nth-child(2) {
  box-sizing: border-box;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;
}


.hero-section div:first-child > img {
  max-width: 80%;
  max-height: 50%;
  animation: slideInRight 1s linear;
}

/* Features Section */

#features {
  display: flex;
  background-color: #CECAE4;
  height: auto;
  padding: 10% 5%;
  gap: 2%;
  flex-direction: column;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: auto;
  height: auto;
  padding: 1%;
}

#features h1 {
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

#features p {
  font-size: 0.8em;
  text-align: center;
  line-height: 1.5; 
  max-height: 4.5em; 

}

.feature > * {
  margin-bottom: 3%;
}

.feature svg {
  animation: bounce 3.5s infinite alternate;
}



/* Top Products Section */

#top-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  gap: 40px;
  padding: 50px 0;
}

#top-products h1 {
  color: white;
  font-size: 14px;
}

#top-products p {
  color: white;
  font-size: 12px;
}

.card {
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2%;
  border-radius: 25px;
  transition: transform 0.2s ease-in-out;
  height: auto;
  
}

.card img {
  height: 80%;
  width: 90%;
}


.card:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #98FF98 0%, #6E0DD0 100%);
  box-shadow: 0px 10px 6px rgba(255, 255, 255, 0.1);
}


#top-products .card:nth-child(2) div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Footer Section */

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

#footer > p {
  color: white;
  font-size: 1em;
}

/* Login Page */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: auto;
}

.signin {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

form {
  margin-top: 3%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 4%;
  width: 100%;
  align-items: center;
}

form > button {
  font-size: 1.2rem;
  background-color: #110B1D;
  border: none;
  width: 25%;
  height: 30%;
  border-radius: 25px;
  transition: transform 0.2s ease-in-out;
  color: white;
  margin-top: 3%;
  font-weight: bolder;
}

form > button:hover {
  transform: translateY(-4px);
}

form input {
  background-color: #A7A7B6;
  border: none;
  border-radius: 25px;
  height: 22%;
  width: 80% ;
  padding: 2% 3%;
  color: #110B1D;
  font-size: 0.8em;
}

input::placeholder {
  color: #110B1D;
  opacity: 0.9;
  font-size: 1.2rem;
}

.signin h1 {
  margin-bottom: 1.5%;
  font-weight: bolder;
  font-size: 1.8em;
}

.signin > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 80%;
  margin: 1.5% 0px;
}

div.signin > div:nth-child(3) > * {
  transition: transform 0.2s ease-out;
}

div.signin > div:nth-child(3) > *:hover {
  transform: translateY(-2px);
}

.signin svg {
  width: 25px;
  height: 25px;
}
.google {
  width: 30px;
  height: 30px;
  background-color: #E23636;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #638AD6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.facebook {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #0F53BB;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Signup Section */

.signup {
  --bg-image: url("https://images.unsplash.com/photo-1626141138092-a20c8debe88b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  --bg-image-opacity: 0.1;
  background-color: #110B1D;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  position: relative;
  isolation: isolate;
}

.signup::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--bg-image);
  opacity: var(--bg-image-opacity);

}

.signup > h1 {
  font-size: 1.5em;
  color: #ffffff;
}

.signup > p {
  font-size: 1em;
  color: #ffffff;
}

.signup > button {
  width: 25%;
  height: 10%; 
  font-size: 1.2em;
  border-radius: 20px;
  background-color: #746AE9;
  border: none;
  font-weight: bolder;
  color: #ffffff;
}

@media (min-width: 576px) and (max-width: 767px) {
  
  nav button {
    width: 65px;
  }

  a {
    height: 65%;
  }
  .hero-section div:first-child > img {
    max-width: 60%;
    max-height: 30%;
  }

  .hero-section h1 {
    font-size: 1.2em;
  }
  
  .hero-section p {
    font-size: 1.2em;
  }

  nav label {
    font-size: 1.2em;
  }
  nav li {
    font-size: 1em;
  }

  form > button {
    width: 20%;
    height: 25%;
  }

  .signup > button {
    width: 20%;
    height: 8%;
  }

  #features h1 {
    font-size: 1.5em;
  }

  #features p {
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  a {
    height: 70%;
  }

  nav button {
    font-size: 1em;
    width: 65px;
  }
  nav label {
    font-size: 1.5em;
  }

  nav li {
    font-size: 1.5em;
  }
  .hero-section div:first-child > img {
    max-width: 45%;
    max-height: 35%;
  }

  .hero-section h1 {
    font-size: 1.5em;
  }
  
  .hero-section p {
    font-size: 1.5em;
  }

  #features h1 {
    font-size: 1.5em;
  }

  #features p {
    font-size: 1em;
  }


  form > button {
    width: 15%;
    max-height: 20%;
  }

  .signup > button {
    width: 15%;
    height: 5%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  nav {
    justify-content: flex-start;
    padding-left: 10%;
  }
  nav label {
    font-size: 2em;
  }
  
  nav button {
    width: 70px;
  }
  
  a {
    height: 75%;
  }
  
  a:hover {
    color: #746AE9;
  }
  
  
  nav li {
    font-size: 1.5em;
    color: white;
    list-style: none;
    opacity: 0.85;
    transition: transform 0.3s ease-out;
    cursor: pointer;
    display: inline-block;
  }
  .hero-section {
    display: flex;
    flex-direction: row;
  }

  .hero-section h1 {
    font-size: 1.8em;
  }
  
  .hero-section p {
    font-size: 1.3em;
  }

  .hero-section div:nth-child(2) {
    flex-basis: 55%;
  }
  
  .hero-section div:first-child {
    flex-basis: 45% ;
    order: 1;
    padding: 0;
  }
  
  .hero-section div:first-child > img {
    max-height: 80%;
    max-width: 90%;
  }

  #features {
    flex-direction: row;
  }

  #features h1 {
    font-size: 1.5em;
  }

  #features p {
    font-size: 1em;
  }
  .feature {
    height: 100%;
  }

  #top-products {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    width: 25%;
  }

  .login {
    flex-direction: row;
    height: 100vh;
    padding: 0;
  }

  .signin {
    height: 100%;
    flex-basis: 60%;
  }

  .signup {
    height: 100%;
    flex-basis: 40%;
  }

  form input {
    height: 15%;
    width: 60%;
  }

  form > button {
    height: 15%;
    width: 15%;
  }

  .signup > button {
    height: 6%;
  }

  .signup * {
    position: relative;
    bottom: 10%;
  }

}

 @media (min-width: 1200px) {

  .nav-hero {
    height: 100vh;
  }

  a {
    height: 80%;
    width: 100px;

  }
  nav {
    box-sizing: border-box;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 10%;
  }

  nav button {
    align-self: baseline;
    font-size: 1em;
    width: 100%;
  }

  nav label {
    font-size: 2em;
  }
  nav ul {
    gap: 20px;
  }
  nav li {
    font-size: 2em;
  }
  .hero-section {
    display: flex;
    flex-direction: row;
    padding-top: 4%;
  }
  .hero-section h1 {
    font-size: 2.3em;
  }

  .hero-section p {
    font-size: 1.5em;
  }
  .hero-section div:nth-child(2) {
    flex-basis: 55%;
    padding: 2% 5% 2% 10%;
  }
  
  .hero-section div:first-child {
    flex-basis: 45% ;
    order: 1;
    padding: 0;
  }

  .hero-section div:first-child > img{
    max-height: 65%;
    max-width: 90%;
    animation: bounce 3.5s infinite alternate;
  }

  #features {
    flex-direction: row;
  }

  #features h1 {
    font-size: 2em;
  }

  #features p {
    font-size: 1.2em;
  }

  #top-products {
    padding: 10%;
    flex-direction: row;
    justify-content: center;
  }

  #top-products .card {
    width: 30%;
    height: 350px;
    padding: 20% 0;
  }

  #top-products .card  img {
    width: 80%;
    height: 80%;
  }

  #top-products .card div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #top-products .card h1 {
    font-size: 1em;
  }

  #top-products .card p {
    font-size: 1em;
  }

  .login {
    flex-direction: row;
    height: 100vh;
    padding: 0;
  }

  .signin {
    height: 100%;
    flex-basis: 60%;
  }

  .signup {
    height: 100%;
    flex-basis: 40%
  }

  form input {
    height: 15%;
    width: 60%;
  }

  form > button {
    height: 15%;
    width: 15%
  }

  .signup > button {
    height: 5%;
    width: 18%;
  }

  .signup * {
    position: relative;
    bottom: 10%;
  }
 }
