@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #110B1D;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.cover > div {
  height: 100%;
}


/* Navbar Section */

nav {
  display: flex;
  align-items: center;
  margin-top: 1%;
  padding: 1% 6%;
  justify-content: space-between;
}

nav label {
  display: inline-block;
  margin-right: 10%;
  color: white;
  font-weight: bold ;
  font-size: 35px;
  
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 24%;
  gap: 4%;
}

nav li {
  font-size: 30px;
  color: white;
  list-style: none;
}

nav button {
  padding: 0.5%;
  height: 100%;
  width: 6%;
  background-color: #746AE9;
  color: #ffffff;
  font-weight: 900;
  font-size: 80%;
  border-radius: 10px;
}



/* Hero Section */

.hero-section {
  display: flex;
  margin-top: 3%;
  padding-bottom: 9%;
  height: auto;
  width: 90%;
  justify-content: center;
  align-self: center;
  gap: 7%;
  
}

.hero-section h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 5%;
}

.hero-section p {
  color: white;
  font-size: 25px;
}

.hero-section div:first-child {
  width: 50%;
  padding: 8%;
}

.hero-section div:nth-child(2) {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

/* Features Section */

#features {
  display: flex;
  background-color: #CECAE4;
  height: auto;
  padding: 5%;
  gap: 3%;
}

/* Top Products Section */

#top-products {
  display: flex;
}

#top-products h1 {
  color: white;
}

#top-products p {
  color: white;
}



/* Footer Section */

#footer {
  display: flex;
}

#footer > h1 {
  color: white;
}